- @page = "Bio"

%h1 Bio

:markdown
  I'm a Software Developer, a Computer Science student at [Virginia Tech](http://vt.edu/),
  and an entrepreneur. I'm currently working on a stealth Platform as a Service
  startup with [Mike Taczak](http://miketaczak.com).

  I've worked at [Rackspace Hosting](http://rackspace.com/) on the
  [Webmail](http://www.rackspace.com/email_hosting) team, a social event startup called
  [Heyo](http://heyo.com/), and in the Medical-Surgical division of
  [McKesson](http://mckesson.com/).

  I'd love to chat! Send me an email at <kevin.pfab@gmail.com>

