- @page = "Bio"

%h1
  Bio
%p
  I'm a Software Developer, a Computer Science student at <a href="http://vt.edu">Virginia Tech</a>, and an entrepreneur. I'm currently working on a stealth Platform as a Service startup with <a href="http://miketaczak.com">Mike Taczak</a>.
%p
  I've worked at <a href="http://rackspace.com">Rackspace Hosting</a> on the <a href="http://www.rackspace.com/email_hosting">Webmail</a> team, a social event startup called <a href="http://heyo.com">Heyo</a>, and in the Medical-Surgical division of <a href="http://mckesson.com">McKesson</a>.
%p
  I'd love to chat! Send me an email at <a href="mailto:kevin.pfab@gmail.com">kevin.pfab@gmail.com</a>
