- @page = "Home"

%h1{:class => "chill_bg"}
  Entrepreneur<br />Student<br />Dev
%p
  <b>Latest Essay:</b> <em>Coming soon!</em>
%p
  <b>Currently Reading:</b>
  %a{:href => "http://www.amazon.com/How-Win-Friends-Influence-People/dp/1439167346", :alt => "How to Win Friends and Influence People"}
    How to Win Friends and Influence People
  by
  %a{:href => "http://en.wikipedia.org/wiki/Dale_Carnegie"}
    Dale Carnegie
%p
  <b>Working On:</b> PaaS Startup (in stealth) and student at
  %a{:href => "http://vt.edu"}
    Virginia Tech
