- @page = "Home"

%h1{:class => "chill_bg"}
  Entrepreneur<br />Student<br />Dev
%p
  I am a 21 year old guy working for visual communication and new media projects. With every project I aim to maintain a balance between functionality and aesthetic impact, and I love my job of doing it ! By the time, I also try to update my Blog and DeviantART gallery. And like everyone else, I use Twitter too !
%p
  Feel free to have a look at my work and just drop me a line if you think I can do something for your business, organisation or cause.
%p
  Thanks for stopping by !
