- @page = "Home"

%h1{:class => "chill_bg"}
  Entrepreneur<br />Student<br />Dev

:markdown
  **Latest Essay:** *Coming soon!*

  **Currently Reading:** [How to Win Friends and Influence People](http://www.amazon.com/How-Win-Friends-Influence-People/dp/1439167346)
  by [Dale Carnegie](http://en.wikipedia.org/wiki/Dale_Carnegie)

  **Working On:** PaaS Startup (in stealth) and student at [Virginia Tech](http://vt.edu/)

