%link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Arvo", :type => "text/css"}
%link{:rel => "stylesheet", :href => "style/bootstrap.css", :type => "text/css"}
%link{:rel => "stylesheet", :href => "style/layout.css", :type => "text/css"}
