%div{:class => "row top_bar_div"}
  %div{:class => "span1 bg_red top_bar"}
  %div{:class => "span1 bg_black top_bar"}
  %div{:class => "span1 bg_red top_bar"}
  %div{:class => "span1 bg_black top_bar"}
  %div{:class => "span1 bg_red top_bar"}
  %div{:class => "span1 bg_black top_bar"}
  %div{:class => "span1 bg_red top_bar"}
  %div{:class => "span1 bg_black top_bar"}
  %div{:class => "span1 bg_red top_bar"}
  %div{:class => "span1 bg_black top_bar"}
  %div{:class => "span1 bg_red top_bar"}
  %div{:class => "span1 bg_black top_bar"}
  %div{:class => "span1 bg_red top_bar"}
  %div{:class => "span1 bg_black top_bar"}
  %div{:class => "span1 bg_red top_bar"}
  %div{:class => "span1 bg_black top_bar"}
