<!DOCTYPE html>
<html class='no-js' lang='en'>
  <head>
    <title> - Kevin Pfab</title>
    <link href='style/bootstrap.css' rel='stylesheet' type='text/css' />
    <link href='style/layout.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript'>
      //<![CDATA[
        WebFontConfig = {
          google: { families: [ 'Arvo::latin' ] }
        };
        (function() {
          var wf = document.createElement('script');
          wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
          wf.type = 'text/javascript';
          wf.async = 'true';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(wf, s);
        })();
      //]]>
    </script>
    <script src='scripts/modernizr-2.0.6.min.js'></script>
  </head>
  <body>
    <div class='container'>
      <div class='row logo_div'>
        <div class='span16'>
          <h2 class='logo'>
            <p><strong>kevin</strong>pfab</p>
          </h2>
        </div>
      </div>
      <div class='row'>
        <div class='span2'>
          <ul class='nav'>
            <li>
              <a href='http://kevinpfab.com/'>
                Home
              </a>
            </li>
            <li>
              <a href='http://kevinpfab.com/bio.html'>
                Bio
              </a>
            </li>
            <li>
              <a href='http://kevinpfab.com/essays.html'>
                Essays
              </a>
            </li>
            <li>
              <div class='nav_header'>
                Links
              </div>
            </li>
            <li>
              <a href='http://github.com/kevinpfab'>
                Github
              </a>
            </li>
            <li>
              <a href='http://facebook.com/Swoop'>
                Facebook
              </a>
            </li>
            <li>
              <a href='http://twitter.com/kevinpfab'>
                Twitter
              </a>
            </li>
          </ul>
        </div>
        <div class='span12 offset2 content'>
          <script type='text/javascript'>
            //<![CDATA[
              WebFontConfig = {
                google: { families: [ 'Arvo::latin' ] }
              };
              (function() {
                var wf = document.createElement('script');
                wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
                  '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
                wf.type = 'text/javascript';
                wf.async = 'true';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(wf, s);
              })();
            //]]>
          </script>
          <script src='scripts/modernizr-2.0.6.min.js'></script>
        </div>
      </div>
      <div class='row'>
        <div class='span12 offset4'>
          <div class='footer'>
            Copyright Kevin Pfab, 2011. Contact me at <a href="mailto:kevin.pfab@gmail.com">kevin.pfab@gmail.com</a>.
          </div>
        </div>
      </div>
    </div>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js'></script>
    <script src='scripts/kerning-0.1.0.min.js'></script>
    <!--[if lt IE 7]>
      <script src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js'></script>
      <script type='text/javascript'>
        //<![CDATA[
          window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
        //]]>
      </script>
    <![endif]-->
  </body>
</html>
