<!DOCTYPE html>
<html lang='en'>
  <head>
    <title> - Kevin Pfab</title>
    <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css' />
    <link href='style/bootstrap.css' rel='stylesheet' type='text/css' />
    <link href='style/layout.css' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div class='container'>
      <div class='row top_bar_div'>
        <div class='span1 bg_red top_bar'></div>
        <div class='span1 bg_black top_bar'></div>
        <div class='span1 bg_red top_bar'></div>
        <div class='span1 bg_black top_bar'></div>
        <div class='span1 bg_red top_bar'></div>
        <div class='span1 bg_black top_bar'></div>
        <div class='span1 bg_red top_bar'></div>
        <div class='span1 bg_black top_bar'></div>
        <div class='span1 bg_red top_bar'></div>
        <div class='span1 bg_black top_bar'></div>
        <div class='span1 bg_red top_bar'></div>
        <div class='span1 bg_black top_bar'></div>
        <div class='span1 bg_red top_bar'></div>
        <div class='span1 bg_black top_bar'></div>
        <div class='span1 bg_red top_bar'></div>
        <div class='span1 bg_black top_bar'></div>
      </div>
      <div class='row logo_div'>
        <div class='span16'>
          <h2 class='logo'>
            <span class="red big_logo_letter">k</span>evin<span class="red big_logo_letter">p</span>fab
          </h2>
        </div>
      </div>
      <div class='row'>
        <div class='span2'>
          <ul class='nav'>
            <li>
              <a href='http://kevinpfab.com/'>
                Home
              </a>
            </li>
            <li>
              <a href='http://kevinpfab.com/essays.html'>
                Essays
              </a>
            </li>
            <li>
              <div class='nav_header'>
                Links
              </div>
            </li>
            <li>
              <a href='http://github.com/kevinpfab'>
                Github
              </a>
            </li>
          </ul>
        </div>
        <div class='span12 offset2 content'>
          <link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css' />
          <link href='style/bootstrap.css' rel='stylesheet' type='text/css' />
          <link href='style/layout.css' rel='stylesheet' type='text/css' />
        </div>
      </div>
    </div>
  </body>
</html>
