<!DOCTYPE html>
<html lang="en-US">
<head>
    {{ partial "header.html" . }}
</head>
<body lang="en">
    <div class='container'>
        <div class='content'>
            <h1>Hello, I'm <span class='red'>Kevin.</span></h1>
            <p>I'm currently a tech lead and engineer at <a href='http://omnivore.io'>Omnivore.io</a>. We make it easy for apps to integrate with hospitality point of sale systems.</p>
            <p>I like startups, functional design, and listening to albums from start to finish.</p>
            <p>You can find me on <a href='https://github.com/kevinpfab'>Github</a> and <a href='https://facebook.com/swoop'>Facebook</a>. Email me at kevin dot pfab at gmail.</p>
            <p style='font-size: 14px;line-height: 22px'><i>You can say, &lsquo;I love you&rsquo;, in Helvetica. And you can say it with Helvetica Extra Light if you want to be really fancy. Or you can say it with the Extra Bold if it's really intensive and passionate, you know, and it might work.</i><br><b>Massimo Vignelli</b></p>
        </div>
    </div>
</body>
</html>

